[Unit]
Description=FoundryVTT Docker Container for instance rpg2
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop foundryvtt-rpg2
ExecStartPre=-/usr/bin/docker rm foundryvtt-rpg2
ExecStart=/usr/bin/docker run \
  --rm \
  --name foundryvtt-rpg2 \
  -p 30001:30000 \
  -h foundryvtt-rpg2 \
  -v /var/foundryvtt-rpg2/data:/var/foundryvtt/data \
  foundryvtt:v12
ExecStop=-/usr/bin/docker stop foundryvtt-rpg2

[Install]
WantedBy=multi-user.target